:root {
  /* Text colors */
  --accent: #fff;
  --black: #000;
  --body-filter: rgba(0, 0, 0, .3);
  --light-grey: #5A5A5A;
  --thin-grey: #C4C4C4;
  --input-text: #999999;
  --light-grey-rgba: rgba(50, 50, 50, 0.2);
  --dark-grey: #323232;
  --border-grey: #353535;
  --cart-grey: #CACAC7;
  --placeholder-grey: #999999;
  --white-with-opacity:  rgba(255, 255, 255, 0.2);
  --white-with-less-opacity: rgba(255, 255, 255, 0.4);
  --link-hover: #FFBC9E;
  --peach: #FBDED7;
  --link-border-hover: 1px solid rgba(255, 188, 158, 0.3);
  --news-link-border: 1px solid rgba(50, 50, 50, 0.3);
  --news-link-active: #E84D37;
  --news-link-hover-border: 1px solid rgba(232, 77, 55, 0.3);
  --input-border: rgba(178, 178, 178, 0.52);
  --input-focus-border: rgba(46, 136, 228, 0.52);
  --filter-range-light: rgba(248, 247, 244, 0.5);
  --filter-range-dark: #F8F7F4;
  --filter-controls-back: #ABABAB;
  --select-arrow: #ECF1EE;
  --checkbox-border: rgba(255, 255, 255, 0.8);
  --checkbox-outline: #A9BBB1;
  /* Background colors */
  --dark-peach: #F6B5A5;
  --right-slide-back: #9D8B84;
  --mid-slide-back: #8996A6;
  --left-slide-back: #849D8F;
  --promo-left-back: #E37070;
  --promo-right-back: #794C32;
  --news-form-back: #F8F7F4;
  --link-click-back: #ededed;
  --link-active-back: #D07058;
  --map-form: #FEFEFE;
  /* Shadows */
  --text-shadow: rgba(160, 32, 11, 0.76);
  --button-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  --button-hover-shadow: 0px 2px 2px #AC1000;
  --button-active-shadow: inset 0px 2px 2px #942718;
  --link-click-shadow: inset 0px 2px 1px #696969;
  --card-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  --menu-list-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  /* Gradients */
  --button-gradient: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --button-hover-gradient: 
         linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), 
         linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --button-active-gradient: 
         linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),     
         linear-gradient(180deg, #F26843 0%, #E74A35 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--accent);
  border-bottom: 1px solid var(--white-with-opacity);
  transition: all linear .1s;
  display: inline-block;
  vertical-align: middle;
}

a:hover, a-active {
  color: var(--link-hover);
  border-bottom: var(--link-border-hover);
}

a:focus {
  outline: 0;
  box-shadow: 0 0 0 3px var(--accent);
}

.page-body {
  transition: all .5s;
  position: relative;
}

.page-body-1 {
  background-color: var(--left-slide-back);
  background-image: url("../img/slider-back-left.png");
}

.page-body-2 {
  background-color: var(--mid-slide-back);
  background-image: url("../img/slider-back-mid.png");
}

.page-body-3 {
  background-color: var(--right-slide-back);
  background-image: url("../img/slider-back-right.png");
}

.catalog-body {
  background-color: var(--left-slide-back);
  background-image: none;
}

body {
  font-family: Roboto;
  font-size: 16px;
  line-height: 22px;
  color: var(--accent);
  background-repeat: no-repeat;
  background-position: center 0;
  background-color: var(--left-slide-back);
  background-image: url("../img/slider-back-left.png");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.dark-filter {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--body-filter);
  display: none;
  z-index: 1000000;
}

.container {
  max-width: 1200px;
  padding: 0 27px;
  margin: 0 auto;
}

.button {
  border: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: var(--accent);
  text-shadow: 0px 2px 5px var(--text-shadow);
  background: var(--button-gradient);
  box-shadow: var(--button-shadow);
}

.button:hover {
  background: var(--button-hover-gradient);
  box-shadow: var(--button-hover-shadow);
  color: var(--accent);
  border: none;
}

.button:active {
  box-shadow: var(--button-active-shadow);
}

.button:focus {
  box-shadow: 0 0 0 4px var(--accent);
  outline: 0;
}

.card {
  z-index: 1100;
  border-radius: 4px 4px 0 0;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  transition: .15s linear background-color;
}

.card:hover .card-button-box {
  display: block;
}

.card-image {
  margin-top: 5px;
}

.card-link {
  display: inline;
}

.card-title {
  font-weight: 500;
  flex-grow: 1;
  margin: 0;
  font-size: 16px;
  margin-top: 12px;
}

.card-price {
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
  position: absolute;
  margin: 0;
  top: 214px;
  left: 13px;
}

.card-number {
  font-size: 45px;
  line-height: 45px;
}

.card-button {
  width: 200px;
  position: absolute;
  left: calc((100% - 200px)/2);
  bottom: 21px;
  padding: 12px 16px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 129391239;
}

.card-button-box {
  z-index: -1;
  width: 100%;
  height: calc(100% + 77px);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white-with-opacity);
  box-shadow: var(--card-shadow);
  border-radius: 4px;
}

.input, .textarea {
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  box-shadow: 0 0 0 1px var(--input-border);
  color: var(--dark-grey);
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  outline: 0;
  color: var(--input-text);
}

.input:hover, .textarea:hover {
  box-shadow: 0 0 0 2px var(--input-border);
}

.input:focus, .textarea:focus {
  box-shadow: 0 0 0 2px var(--input-focus-border);
}

.textarea {
  resize: none;
}

.header {
  font-size: 14px;
}

.header-top {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-bottom: 1px;
}

.header-left {
  line-height: 18px;
  display: grid;
  grid-template-columns: auto auto;
  justify-self: start;
}

.header-logo {
  margin-top: 9px;
  margin-right: 12px;
}

.header-right {
  line-height: 16px;
  font-weight: 500;
  justify-self: end;
  padding-top: 21px;
  display: flex;
  align-items: center;
  align-self: start;
}

.header-search {
  width: 32px;
  height: 32px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.header-search-box {
  position: relative;
}

.header-search-box:hover .header-search-popup {
  display: block;
}

.header-search:hover path {
  fill: var(--dark-grey);
}

.header-login, .header-cart {
  border: none;
}

.header-login, .header-search {
  transition: all linear .2s;
  margin-right: 10px;
}

.header-login:hover, .header-search:hover {
  background-color: var(--accent);
  color: var(--dark-grey);
}

.header-search, .header-login, .header-cart {
  background-color: var(--white-with-opacity);
  border-radius: 20px;
}

.header-search:hover, .header-login:hover, .header-cart:hover {
  border: none;
}

.header-cart {
  padding: 10px 16px 6px 45px;
  display: block;
  vertical-align: middle;
  position: relative;
  background-image: url("../img/icons/cart.png");
  background-repeat: no-repeat;
  background-position: 16px 6px;
}

.header-cart-box {
  padding-top: 2px;
}

.header-cart:hover {
  color: var(--dark-grey);
}

.header-cart.header-cart--filled {
  background-image: url("../img/icons/filled-cart.svg");
}

.header-cart--filled {
  background-color: var(--accent);
  color: var(--dark-grey);
  position: relative;
}

.header-login {
  padding: 8px 16px 5px 16px;
  display: flex;
  align-items: center;
  vertical-align: middle;
  position: relative;
}

.header-login__icon {
  margin-right: 8px;
}

.header-login:hover .header-login-popup {
  display: block;
}

.header-login:hover path {
  fill: var(--dark-grey);
}

.header-info {
  text-align: right;
}

.header-info-time {
  margin: 0;
  line-height: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

.header-info-phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  border-bottom: 1px solid transparent;
}

.header-info-phone:hover {
  border-color: var(--link-hover);
}

.menu {
  padding-top: 20px;
}

.menu__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.menu__list-item {
  border-radius: 26px;
  margin-right: 6px;
  position: relative;
  z-index: 9999999;
}

.menu__list-item--active {
  background-color: var(--link-active-back);
}

.menu__list-item--active a::before {
  width: 0;
  height: 0;
}

.menu__list-item-catalog:hover .menu__list-popup {
  display: block;
}

.menu__list-link {
  font-size: 16px;
  font-weight: 700;
  padding: 7px 13px;
  border: none;
  position: relative;
  border-radius: 26px;
}

.menu__list-link::before {
  content: "";
  position: absolute;
  bottom: 8px;
  margin: 0 auto;
  width: calc(100% - 26px);
  height: 1px;
  background-color: var(--accent);
  opacity: 0.2;
}

.menu__list-item:hover {
  background-color: var(--accent);
}

.menu__list-item:hover .menu__list-link {
  color: var(--dark-grey);
  border: none;
}

.menu__list-item:active {
  box-shadow: var(--link-click-shadow);
  background-color: var(--link-click-back);
}

.menu__list-link--active {
  background-color: var(--link-active-back);
}

.menu__list-popup {
  display: none;
  position: absolute;
  top: 20px;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 23px;
  width: 143px;
  border-radius: 4px;
  z-index: -1;
}

.menu__list-popup-item {
  width: 100%;
  background-color: var(--accent);
  box-shadow: var(--menu-list-shadow);
  position: relative;
}

.menu__list-popup-item:hover {
  background-color: var(--peach);
}

.menu__list-popup-item:active {
  background-color: var(--dark-peach);
}

.menu__list-popup-item--active {
  background-color: var(--link-active-back);
}

.menu__list-popup-item-new::before {
  content: "";
  position: absolute;
  z-index: 99999;
  bottom: 0;
  left: 6px;
  width: calc(100% - 15px);
  height: 1px;
  background-color: var(--light-grey-rgba);
}

.menu__list-popup-item:first-child {
  border-radius: 4px 4px 0 0;
}

.menu__list-popup-item:last-child {
  border-radius: 0 0 4px 4px;
}

.menu__list-popup-link {
  border: none;
  padding: 11px 14px;
  color: var(--dark-grey);
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.menu__list-popup-link-new {
  font-weight: 700;
  line-height: 18px;
}

.menu__list-popup-link:hover {
  border: none;
  color: var(--dark-grey);
}

.header-search-popup {
  display: none;
  position: absolute;
  top: 29px;
  right: 0;
  padding-top: 10px;
  z-index: 9999999;
}

.header-search-popup-form {
  padding: 20px 15px;
  background-color: var(--accent);
  width: 340px;
  height: 84px;
  border-radius: 4px;
  box-shadow: var(--menu-list-shadow);
}

.header-search-popup-input {
  width: 100%;
  height: 44px;
  padding: 15px;
  font-size: 14px;
  line-height: 16px;
}

.header-login-box {
  position: relative;
}

.header-login-box:hover .header-login-popup {
  display: block;
}

.header-login-popup {
  display: none;
  position: absolute;
  top: 31px;
  right: 10px;
  width: 277px;
  padding-top: 10px;
  z-index: 10000000;
}

.header-login-popup__form {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: var(--menu-list-shadow);
  padding: 20px 17px 22px 19px;
  display: grid;
  grid-template-rows: repeat(3, 44px);
  grid-template-columns: auto 1fr;
  row-gap: 20px;
  column-gap: 17px;
}

.header-login-popup__input {
  width: 100%;
  grid-column: 1 / -1;
  height: 100%;
  padding: 15px;
}

.header-login-popup__button {
  border-radius: 26px;
  padding: 15px 26px;
  font-size: 18px;
  line-height: 16px;
}

.header-login-popup__help {
  padding-top: 5px;
}

.header-login-popup__link {
  color: var(--dark-grey);
  font-size: 13px;
  line-height: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 4px;
  border-bottom: 1px solid var(--light-grey-rgba);
}

.header-cart-box {
  position: relative;
}

.header-cart-box:hover .header-cart__popup {
  display: block;
}

.header-cart__popup {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 8888888;
  padding-top: 10px;
  color: var(--dark-grey);
}

.header-cart__popup-inner {
  background-color: var(--accent);
  padding: 20px 14px 21px 21px;
  width: 539px;
  border-radius: 4px;
}

.header-cart__popup-items {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid var(--cart-grey);
}

.header-cart__popup-total {
  text-align: right;
  font-size: 15px;
  font-weight: 700;
}

.header-cart__popup-button {
  padding: 11px 15px;
  border-radius: 26px;
  display: block;
  margin-left: auto;
  cursor: pointer;
}

.header-cart__popup-item {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.header-cart__popup-item-button {
  margin-right: 9px;
  background-color: transparent;
  width: 11px;
  height: 11px;
  border: 0;
  background-image: url("../img/icons/cross.svg");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.header-cart__popup-item-icon {
  margin-right: 13px;
}

.header-cart__popup-item-title {
  width: 216px;
  margin-right: 31px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.header-cart__popup-item-calc {
  width: 95px;
  margin-right: 26px;
}

.header-cart__popup-item-calc span {
  color: var(--thin-grey);
}

.slider {
  margin-bottom: 36px;
}

.slider-container {
  position: relative;
  overflow: hidden;
}

.slider__inner {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 300%;
  transition: all .5s;
}

.slider__controls {
  position: absolute;
  bottom: 28px;
  left: 27px;
  display: flex;
  width: 80px;
  justify-content: space-between;
  z-index: 919;
}

.slider__input {
  display: none;
}

.slider__input--left:checked + label {
  background-color: var(--accent);
}

.slider__input--mid:checked + label {
  background-color: var(--accent);
}

.slider__input--right:checked + label {
  background-color: var(--accent);
}

.slider__input--left:checked ~ .slider__inner {
  transform: translateX(0);
}

.slider__input--mid:checked ~ .slider__inner {
  transform: translateX(-1146px);
}

.slider__input--right:checked ~ .slider__inner {
  transform: translateX(-2292px);
}

.slider__label {
  position: absolute;
  left: 27px;
  bottom: 28px;
  min-width: 21px;
  height: 21px;
  border: 2px solid var(--accent);
  border-radius: 50%;
  transition: background .2s;
  z-index: 91919;
}

.slider__label:hover {
  background-color: var(--white-with-less-opacity);
  cursor: pointer;
}

.slider__label--mid {
  left: 56px;
}

.slider__label--right {
  left: 85px;
}

.slider__item {
  font-weight: 700;
  padding-bottom: 3px;
  width: 33.33333%;
  padding-top: 275px;
  text-align: center;
}

.slider__item-title {
  font-size: 60px;
  line-height: 60px;
  margin: 0 auto;
  margin-bottom: 26px;
  max-width: 675px;
}

.slider__item-button {
  font-size: 32px;
  line-height: 44px;
  padding: 9px 40px 10px;
  border-radius: 70px;
}

.slider__item-right-title {
  max-width: 650px;
}

.promo {
  margin-bottom: 36px;
}

.promo-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
}

.promo__item {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  border-radius: 16px;
  padding: 16px 22px 22px 16px;
  background-repeat: no-repeat;
  background-size: cover;
}

.promo__item--left {
  background-color: var(--promo-left-back);
}

.promo__item--right {
  background-color: var(--promo-right-back);
}

.promo__item-bottom {
  text-align: right;
}

.promo__item-title {
  font-size: 35px;
  line-height: 41px;
  margin: 0;
  margin-bottom: 14px;
}

.promo__item-text {
  margin-top: 0;
  margin-bottom: 42px;
}

.promo__item-button {
  text-align: right;
  padding: 12px 22px;
  border-radius: 70px;
}

.popular__items {
  list-style: none;
  padding: 0;
  margin: 0 -13px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.popular__item {
  position: relative;
  padding: 0 13px;
}

.popular__item::before {
  position: absolute;
  top: 5px;
  left: 13px;
  content: "";
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.png");
}

.features {
  margin-bottom: 40px;
  color: var(--dark-grey);
}

.features__inner {
  background-image: url("../img/features-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  padding: 24px 23px 30px 20px;
}

.features__descr {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 15px;
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 22px;
  column-gap: 31px;
}

.features__item {
  padding-left: 55px;
  position: relative;
}

.features__item::before {
  width: 49px;
  height: 49px;
  position: absolute;
  top: -11px;
  left: 0;
  content: "";
}

.features__item--tech::before {
  background-image: url("../img/icons/ice-cream.png");
}

.features__item--buy::before {
  background-image: url("../img/icons/cow.png");
}

.features__item--ingredients::before {
  background-image: url("../img/icons/leave.png");
}

.features__item--delivery::before {
  background-image: url("../img/icons/temprature.png");
}

.news {
  margin-bottom: 40px;
}

.news-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 220px;
  column-gap: 26px;
}

.news__item {
  color: var(--dark-grey);
  border-radius: 16px;
  padding: 18px 250px 0 20px;
  background-color: var(--accent);
}

.news__item-subtitle {
  font-weight: 500;
  margin: 0;
  margin-bottom: 3px;
  font-size: 16px;
}

.news__item-title {
  margin: 0;
}

.news__item-link {
  border-bottom: var(--news-link-border);
  border-width: 2px;
  color: var(--dark-grey);
  font-size: 24px;
  line-height: 30px;
  display: inline;
}

.news__item-link:hover, .news__item-link:active {
  color: var(--news-link-active);
  border-bottom: var(--news-link-hover-border);
}

.news__item-link:focus {
  box-shadow: 0 0 0 2px var(--black);
}

.news__mailing {
  padding: 5px 6px;
  display: flex;
  border-radius: 16px;
}

.news__mailing-inner {
  background-color: var(--news-form-back);
  border-radius: 16px;
  padding: 24px 19px 36px 21px;
  display: flex;
  flex-direction: column;
}

.news__mailing-bottom {
  display: flex;
  justify-content: space-between;
}

.news__mailing-button {
  color: var(--accent);
  border-radius: 70px;
  padding: 11px 19px 10px;
  margin-left: 13px;
}

.news__mailing-button:focus {
  box-shadow: 0 0 0 3px var(--black);
}

.news__mailing-text {
  color: var(--light-grey);
  margin: 0;
  flex-grow: 1;
}

.news__form {
  flex-grow: 1;
}

.news__form-input {
  width: 100%;
  height: 44px;
  padding: 19px 14px 16px;
  border-radius: 6px;
}

.news__popup {
  display: none;
  width: 477px;
  padding: 18px 25px 27px 23px;
  background-color: var(--accent);
  position: fixed;
  z-index: 1293912;
  top: 25vh;
  right: 50%;
  transform: translateX(50%);
}

.news__popup-cross {
  width: 18px;
  height: 17px;
  background-color: transparent;
  border: none;
  font-size: 0;
  background-image: url("../img/x-big.svg");
  position: absolute;
  top: 15px;
  right: 16px;
  cursor: pointer;
}

.news__popup-text {
  color: var(--dark-grey);
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 25px;
  display: inline-block;
  vertical-align: middle;
}

.news__popup-form {
  width: 100%;
}

.news__popup-input {
  width: 267px;
  margin-bottom: 20px;
  height: 44px;
  padding: 16px 14px;
}

.news__popup-textarea {
  width: 100%;
  padding: 16px 14px;
  margin-bottom: 20px;
  width: 428px;
  height: 154px;
}

.news__popup-button {
  border-radius: 70px;
  padding: 14px 24px 13px;
  margin: 0 0 0 auto;
  display: block;
}

.news__popup-button:focus {
  box-shadow: 0 0 0 3px var(--black);
}

.map {
  color: var(--dark-grey);
  font-size: 14px;
  line-height: 20px;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 430px;
  position: relative;
  padding: 62px 0;
}

.map iframe {
  padding: 0;
  margin: 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.map-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.contacts {
  background-color: var(--map-form);
  border-radius: 16px;
  padding: 30px 25px 31px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  z-index: 1999;
  box-shadow: 0 0 15px 2px var(--black);
}

.contacts-address {
  margin: 0;
  flex-grow: 1;
  margin-bottom: 20px;
}

.contacts-phone {
  margin-top: 0;
  margin-bottom: 28px;
  flex-grow: 1;
}

.contacts-phone-number {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: var(--dark-grey);
  margin: 0;
}

.contacts-phone-number:focus {
  box-shadow: 0 0 0 2px var(--black);
}

.contacts span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts-button {
  color: var(--accent);
  border: none;
  padding: 10px 28px;
  border-radius: 70px;
  cursor: pointer;
  height: 43px;
}

.contacts-button:focus {
  box-shadow: 0 0 0 3px var(--black);
}

.footer {
  font-size: 13px;
  line-height: 18px;
  padding-top: 18px;
  padding-bottom: 25px;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}

.socials {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  align-items: center;
}

.socials__item {
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 8px;
  cursor: pointer;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__item:hover path {
  fill-opacity: 1;
}

.socials__item:hover g {
  opacity: 1;
}

.socials__item-link {
  font-size: 0;
  border-radius: 50%;
  height: 100%;
  border: 2px solid var(--white-with-opacity);
}

.footer__info {
  list-style: none;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 32px;
  row-gap: 5px;
  padding: 0;
  margin: 0;
  padding-top: 8px;
  justify-self: center;
  max-height: 50px;
  max-width: 500px;
}

.footer__info-item {
  height: 50%;
}

.footer__info-item--special {
  font-weight: 700;
  position: relative;
}

.footer__info-item--special::before {
  content: "";
  top: 3px;
  left: -22px;
  position: absolute;
  width: 15px;
  height: 13px;
  background-image: url("../img/icons/heart.png");
}

.footer__info-link {
  display: inline;
}

.copyright {
  justify-self: end;
}

.copyright__link {
  border: none;
}

.copyright__link:hover {
  border: none;
}

.copyright__text {
  font-size: 12px;
  margin: 0;
}

/* Catalog */
.header-logo__link {
  border: none;
}

.header-logo__link:hover {
  border: none;
}

.breadcrumbs {
  padding-right: 250px;
}

.breadcrumbs-link {
  font-size: 14px;
  line-height: 16px;
  margin-right: 20px;
  position: relative;
}

.breadcrumbs-link:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 5px;
  right: -14px;
  width: 6px;
  height: 6px;
  background-image: url("../img/icons/bread-arrows.svg");
}

.breadcrumbs-link--active {
  border: none;
}

.breadcrumbs-link--active:hover {
  border: 0;
  color: var(--accent);
}

.catalog__form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.catalog__filter {
  margin-bottom: 33px;
}

.catalog__filter-fieldset {
  margin: 0;
  padding: 0;
  border: none;
  display: inline-block;
  vertical-align: middle;
}

.catalog__filter-legend {
  margin-left: 16px;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 7px;
  margin-top: 0;
  font-weight: 500;
}

.catalog__filter-legend-fill {
  margin-bottom: 7px;
}

.catalog__filter-button {
  width: 144px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  padding: 9px 29px;
  border: 2px solid var(--accent);
  border-radius: 20px;
  color: var(--accent);
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.catalog__filter-button-box {
  padding-top: 23px;
}

.catalog__filter-button:hover {
  background-color: var(--accent);
  color: var(--dark-grey);
}

.catalog__filter-button:active {
  border: 0;
  box-shadow: var(--link-click-shadow);
}

.catalog__filter-button:focus {
  outline: 1px solid var(--black);
}

.catalog__filter-range {
  width: 218px;
  height: 36px;
  border-radius: 20px;
  background-color: var(--white-with-opacity);
  padding: 18px 21px;
  position: relative;
}

.catalog__filter-range-scale {
  height: 2px;
  background-color: var(--filter-range-light);
}

.catalog__filter-range-bar {
  background-color: var(--filter-range-dark);
  height: 100%;
}

.catalog__filter-range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 8px solid var(--accent);
  border-radius: 50%;
  top: 9px;
  left: 0;
  background-color: var(--filter-controls-back);
  cursor: pointer;
}

.catalog__filter-range-toggle--max {
  transform: translateX(-50%);
}

.catalog__filter-sort {
  margin-right: 15px;
  margin-bottom: 13px;
}

.catalog__filter-sort-box {
  position: relative;
}

.catalog__filter-sort-box:hover {
  color: var(--dark-grey);
}

.catalog__filter-sort-box:hover::before {
  border-top-color: var(--dark-grey);
}

.catalog__filter-sort-box::before {
  position: absolute;
  top: 13px;
  right: 14px;
  content: "";
  width: 11px;
  height: 10px;
  border: 5px solid transparent;
  border-top: 10px solid var(--select-arrow);
  pointer-events: none;
}

.catalog__filter-sort-select {
  border-radius: 20px;
  height: 36px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: var(--accent);
  background-color: var(--white-with-opacity);
  padding: 7px 35px 8px 16px;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.catalog__filter-sort-select:hover {
  color: var(--dark-grey);
}

.catalog__filter-sort-select:focus {
  color: var(--dark-grey);
}

.catalog__filter-price {
  margin-right: 15px;
  padding-top: 0;
}

.catalog__filter-price-top {
  margin-top: -5px;
  margin-bottom: 5px;
}

.catalog__filter-price-legend {
  vertical-align: middle;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding: 0;
  margin-left: 17px;
  font-weight: 500;
  display: inline-block;
}

.catalog__filter-price-input {
  background-color: transparent;
  border: none;
  width: 30px;
  padding: 2px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: var(--accent);
  cursor: pointer;
}

.catalog__filter-price-input:focus {
  outline: none;
}

.catalog__filter-fat-inner {
  padding: 8px 17px 7px 44px;
  background-color: var(--white-with-opacity);
  border-radius: 20px;
  height: 36px;
}

.catalog__filter-fat-label {
  margin-right: 48px;
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  cursor: pointer;
}

.catalog__filter-fat-label:hover::before {
  border-color: var(--accent);
}

.catalog__filter-fat-label:hover::after {
  background-color: var(--accent);
}

.catalog__filter-fat-label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -30px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 3px solid var(--checkbox-border);
  cursor: pointer;
}

.catalog__filter-fat-label::after {
  position: absolute;
  top: 6px;
  left: -23px;
  content: "";
  width: 8px;
  height: 8px;
  background-color: var(--checkbox-border);
  border-radius: 50%;
  transform: scale(0);
  transition: .1s transform ease;
}

.catalog__filter-fat-label:last-child {
  margin-right: 0;
}

.catalog__filter-fat-input:checked + label::after {
  transform: scale(1);
}

.catalog__filter-fat-input {
  display: none;
}

.catalog__filter-fill {
  margin-right: 14px;
}

.catalog__filter-fill-inner {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  height: 36px;
  padding: 10px 19px 10px 48px;
  border-radius: 20px;
  background-color: var(--white-with-opacity);
}

.catalog__filter-fill-label {
  position: relative;
  cursor: pointer;
}

.catalog__filter-fill-label:hover::before {
  opacity: 1;
}

.catalog__filter-fill-label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -33px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icons/checkbox-off.svg");
  opacity: 0.8;
}

.catalog__filter-fill-label:not(:last-child) {
  margin-right: 51px;
}

.catalog__filter-fill-checkbox:checked + label::before {
  width: 24px;
  background-image: url("../img/icons/checkbox-on.svg");
}

.catalog__filter-fill-checkbox {
  display: none;
}

.catalog {
  margin-top: -29px;
}

.catalog__title {
  font-size: 35px;
  line-height: 41px;
  margin: 0;
  margin-bottom: 26px;
}

.catalog__list {
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
  margin: 0 -13px;
  margin-bottom: 77px;
}

.catalog__card {
  position: relative;
}

.catalog__card-number {
  margin-right: -7px;
}

.catalog__card:hover {
  z-index: 100000;
}

.switcher {
  margin-bottom: 30px;
  text-align: right;
}

.switcher__pages {
  position: relative;
  display: inline-block;
  padding-right: 25px;
  vertical-align: middle;
}

.switcher-arrow--disabled {
  opacity: .2;
}

.switcher-arrow-prev {
  position: absolute;
  text-decoration: none;
  top: 8px;
  left: -23px;
  width: 7px;
  height: 12px;
  background-repeat: no-repeat;
  background-image: url("../img/icons/icon-right-small.svg");
  transform: rotate(180deg);
  border: 0;
}

.switcher-arrow-next {
  position: absolute;
  text-decoration: none;
  top: 8px;
  right: 0;
  width: 7px;
  height: 12px;
  background-repeat: no-repeat;
  background-image: url("../img/icons/icon-right-small.svg");
  border: 0;
}

.switcher-page {
  padding: 5px 8px 8px;
  border-radius: 50%;
  line-height: 18px;
  border: none;
  width: 26px;
  height: 26px;
}

.switcher-page--active, .switcher-page:active {
  color: var(--dark-grey);
  background-color: var(--accent);
}

.switcher-page:hover {
  background-color: var(--white-with-opacity);
  color: var(--accent);
  border: none;
}

.switcher-arrow {
  color: var(--accent);
}

.switcher-arrow--disabled {
  color: var(--white-with-opacity);
}

/* Animations */
@keyframes popupBounce {
  0% {
    transform: translate(50%, -2000px);
  }
  70% {
    transform: translate(50%, 30px);
  }
  90% {
    transform: translate(50%, -10px);
  }
  100% {
    transform: translate(50%, 0);
  }
}

@keyframes popupShake {
  0%,
  100% {
    transform: translate(50%, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(50%, -10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translate(50%, 10px);
  }
}

/* Modals */
.modal-show {
  display: block;
  box-shadow: 0 0 50px 5px var(--black);
  animation-name: popupBounce;
  animation-duration: .6s;
}

.modal-error {
  animation: popupShake .6s;
}
